USE [Asghari_Task3DB]
GO
/****** Object:  Table [dbo].[Mid_2020_Persons]    Script Date: 5/14/2022 11:05:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mid_2020_Persons](
	[LSOA Code] [nvarchar](255) NULL,
	[LSOA Name] [nvarchar](255) NULL,
	[LA Code (2018 boundaries)] [nvarchar](255) NULL,
	[LA name (2018 boundaries)] [nvarchar](255) NULL,
	[LA Code (2021 boundaries)] [nvarchar](255) NULL,
	[LA name (2021 boundaries)] [nvarchar](255) NULL,
	[All Ages] [float] NULL,
	[F8] [float] NULL,
	[F9] [float] NULL,
	[F10] [float] NULL,
	[F11] [float] NULL,
	[F12] [float] NULL,
	[F13] [float] NULL,
	[F14] [float] NULL,
	[F15] [float] NULL,
	[F16] [float] NULL,
	[F17] [float] NULL,
	[F18] [float] NULL,
	[F19] [float] NULL,
	[F20] [float] NULL,
	[F21] [float] NULL,
	[F22] [float] NULL,
	[F23] [float] NULL,
	[F24] [float] NULL,
	[F25] [float] NULL,
	[F26] [float] NULL,
	[F27] [float] NULL,
	[F28] [float] NULL,
	[F29] [float] NULL,
	[F30] [float] NULL,
	[F31] [float] NULL,
	[F32] [float] NULL,
	[F33] [float] NULL,
	[F34] [float] NULL,
	[F35] [float] NULL,
	[F36] [float] NULL,
	[F37] [float] NULL,
	[F38] [float] NULL,
	[F39] [float] NULL,
	[F40] [float] NULL,
	[F41] [float] NULL,
	[F42] [float] NULL,
	[F43] [float] NULL,
	[F44] [float] NULL,
	[F45] [float] NULL,
	[F46] [float] NULL,
	[F47] [float] NULL,
	[F48] [float] NULL,
	[F49] [float] NULL,
	[F50] [float] NULL,
	[F51] [float] NULL,
	[F52] [float] NULL,
	[F53] [float] NULL,
	[F54] [float] NULL,
	[F55] [float] NULL,
	[F56] [float] NULL,
	[F57] [float] NULL,
	[F58] [float] NULL,
	[F59] [float] NULL,
	[F60] [float] NULL,
	[F61] [float] NULL,
	[F62] [float] NULL,
	[F63] [float] NULL,
	[F64] [float] NULL,
	[F65] [float] NULL,
	[F66] [float] NULL,
	[F67] [float] NULL,
	[F68] [float] NULL,
	[F69] [float] NULL,
	[F70] [float] NULL,
	[F71] [float] NULL,
	[F72] [float] NULL,
	[F73] [float] NULL,
	[F74] [float] NULL,
	[F75] [float] NULL,
	[F76] [float] NULL,
	[F77] [float] NULL,
	[F78] [float] NULL,
	[F79] [float] NULL,
	[F80] [float] NULL,
	[F81] [float] NULL,
	[F82] [float] NULL,
	[F83] [float] NULL,
	[F84] [float] NULL,
	[F85] [float] NULL,
	[F86] [float] NULL,
	[F87] [float] NULL,
	[F88] [float] NULL,
	[F89] [float] NULL,
	[F90] [float] NULL,
	[F91] [float] NULL,
	[F92] [float] NULL,
	[F93] [float] NULL,
	[F94] [float] NULL,
	[F95] [float] NULL,
	[F96] [float] NULL,
	[F97] [float] NULL,
	[90+] [float] NULL
) ON [PRIMARY]
GO
