USE [Asghari_Task2DB]
GO
/****** Object:  Table [dbo].[vietnam_wave_2]    Script Date: 5/14/2022 11:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vietnam_wave_2](
	[UNIQUEID] [varchar](50) NULL,
	[SCHOOLID] [varchar](50) NULL,
	[CLASSID] [varchar](50) NULL,
	[STUDENTID] [varchar](50) NULL,
	[STNTCMP] [varchar](50) NULL,
	[STDINT] [varchar](50) NULL,
	[STMTHWRK] [varchar](50) NULL,
	[STMWRKCH] [varchar](50) NULL,
	[STMWRKCM] [varchar](50) NULL,
	[STETHWRK] [varchar](50) NULL,
	[STEWRKCH] [varchar](50) NULL,
	[STEWRKCM] [varchar](50) NULL,
	[STTMMWRK] [varchar](50) NULL,
	[STTMEWRK] [varchar](50) NULL,
	[STCMPHME] [varchar](50) NULL,
	[STCMPSCH] [varchar](50) NULL,
	[STCMPOTH] [varchar](50) NULL,
	[STLTESCH] [varchar](50) NULL,
	[STMSSDAY] [varchar](50) NULL,
	[STMSSCLS] [varchar](50) NULL,
	[STRSNMS1] [varchar](50) NULL,
	[STRSNMS2] [varchar](50) NULL,
	[STRSNMS3] [varchar](50) NULL,
	[STRSNMS4] [varchar](50) NULL,
	[STRSNMS5] [varchar](50) NULL,
	[STRSNMS6] [varchar](50) NULL,
	[STRSNMS7] [varchar](50) NULL,
	[STRSNMS8] [varchar](50) NULL,
	[STRSNMS9] [varchar](50) NULL,
	[STRSNMS0] [varchar](50) NULL,
	[STADDMT] [varchar](50) NULL,
	[STADDEN] [varchar](50) NULL,
	[STADDOT] [varchar](50) NULL,
	[STEXSCMT] [varchar](50) NULL,
	[STEXSCEN] [varchar](50) NULL,
	[STEXSCOT] [varchar](50) NULL,
	[STPRVMT] [varchar](50) NULL,
	[STPRVEN] [varchar](50) NULL,
	[STPRVOT] [varchar](50) NULL,
	[STEXOTMT] [varchar](50) NULL,
	[STEXOTEN] [varchar](50) NULL,
	[STEXOTOT] [varchar](50) NULL,
	[STFEEL18A] [varchar](50) NULL,
	[STFEEL18B] [varchar](50) NULL,
	[STFEEL18C] [varchar](50) NULL,
	[STFEEL18D] [varchar](50) NULL,
	[STFEEL18E] [varchar](50) NULL,
	[STFEEL18F] [varchar](50) NULL,
	[STFEEL18G] [varchar](50) NULL,
	[STFEEL18H] [varchar](50) NULL,
	[STFEEL18I] [varchar](50) NULL,
	[STFEEL18J] [varchar](50) NULL,
	[STFEEL18K] [varchar](50) NULL,
	[STFEEL18L] [varchar](50) NULL,
	[STFEEL19A] [varchar](50) NULL,
	[STFEEL19B] [varchar](50) NULL,
	[STFEEL19C] [varchar](50) NULL,
	[STFEEL19D] [varchar](50) NULL,
	[STFEEL19E] [varchar](50) NULL,
	[STFEEL19F] [varchar](50) NULL,
	[STFEEL19G] [varchar](50) NULL,
	[STFEEL19H] [varchar](50) NULL,
	[STFEEL19I] [varchar](50) NULL,
	[STFEEL20A] [varchar](50) NULL,
	[STFEEL20B] [varchar](50) NULL,
	[STFEEL20C] [varchar](50) NULL,
	[STFEEL20D] [varchar](50) NULL,
	[STFEEL20E] [varchar](50) NULL,
	[STFEEL20F] [varchar](50) NULL,
	[STFEEL20G] [varchar](50) NULL,
	[STFEEL20H] [varchar](50) NULL,
	[STFEEL20I] [varchar](50) NULL,
	[STFEEL20J] [varchar](50) NULL,
	[STFEEL20K] [varchar](50) NULL,
	[STFEEL20L] [varchar](50) NULL,
	[STFEEL20M] [varchar](50) NULL,
	[STFEEL20N] [varchar](50) NULL,
	[STFEEL20O] [varchar](50) NULL,
	[STFEEL21A] [varchar](50) NULL,
	[STFEEL21B] [varchar](50) NULL,
	[STFEEL21C] [varchar](50) NULL,
	[STFEEL21D] [varchar](50) NULL,
	[STFEEL21E] [varchar](50) NULL,
	[STFEEL21F] [varchar](50) NULL,
	[STFEEL21G] [varchar](50) NULL,
	[STFEEL21H] [varchar](50) NULL,
	[STFEEL21I] [varchar](50) NULL,
	[STFEEL21J] [varchar](50) NULL,
	[STFEEL22A] [varchar](50) NULL,
	[STFEEL22B] [varchar](50) NULL,
	[STFEEL22C] [varchar](50) NULL,
	[STFEEL22D] [varchar](50) NULL,
	[STFEEL22E] [varchar](50) NULL,
	[STFEEL22F] [varchar](50) NULL,
	[STFEEL22G] [varchar](50) NULL,
	[STFEEL22H] [varchar](50) NULL,
	[STFEEL23A] [varchar](50) NULL,
	[STFEEL23B] [varchar](50) NULL,
	[STFEEL23C] [varchar](50) NULL,
	[STFEEL23D] [varchar](50) NULL,
	[STFEEL23E] [varchar](50) NULL,
	[STFEEL23F] [varchar](50) NULL,
	[STFEEL23G] [varchar](50) NULL,
	[STFEEL23H] [varchar](50) NULL,
	[STFEEL24A] [varchar](50) NULL,
	[STFEEL24B] [varchar](50) NULL,
	[STFEEL24C] [varchar](50) NULL,
	[STFEEL24D] [varchar](50) NULL,
	[STFEEL24E] [varchar](50) NULL,
	[STFEEL25A] [varchar](50) NULL,
	[STFEEL25B] [varchar](50) NULL,
	[STFEEL25C] [varchar](50) NULL,
	[STFEEL25D] [varchar](50) NULL,
	[STFEEL25E] [varchar](50) NULL,
	[STFEEL26A] [varchar](50) NULL,
	[STFEEL26B] [varchar](50) NULL,
	[STFEEL26C] [varchar](50) NULL,
	[STFEEL26D] [varchar](50) NULL,
	[STFEEL26E] [varchar](50) NULL,
	[STFEEL26F] [varchar](50) NULL,
	[STFEEL26G] [varchar](50) NULL,
	[STFEEL26H] [varchar](50) NULL,
	[STFEEL26I] [varchar](50) NULL,
	[STFEEL27] [varchar](50) NULL,
	[STFEEL28] [varchar](50) NULL,
	[STFEEL29] [varchar](50) NULL,
	[STFEEL30] [varchar](50) NULL,
	[STFEEL31] [varchar](50) NULL,
	[STFEEL32] [varchar](50) NULL,
	[STFEEL33] [varchar](50) NULL,
	[STFEEL34] [varchar](50) NULL,
	[STFEEL35] [varchar](50) NULL,
	[STFEEL36] [varchar](50) NULL,
	[STFEEL37] [varchar](50) NULL,
	[STFEEL38] [varchar](50) NULL,
	[STFEEL39] [varchar](50) NULL,
	[STFEEL40] [varchar](50) NULL,
	[STFEEL41] [varchar](50) NULL,
	[STFEEL42] [varchar](50) NULL,
	[STFEEL43] [varchar](50) NULL,
	[STFEEL44] [varchar](50) NULL,
	[STFEEL45] [varchar](50) NULL,
	[STFEEL46] [varchar](50) NULL,
	[STFEEL47] [varchar](50) NULL,
	[STFEEL48] [varchar](50) NULL,
	[STFEEL49] [varchar](50) NULL,
	[STFEEL50] [varchar](50) NULL,
	[STFEEL51] [varchar](50) NULL,
	[STFEEL52] [varchar](50) NULL,
	[STFEEL53] [varchar](50) NULL,
	[STFEEL54] [varchar](50) NULL,
	[STFEEL55] [varchar](50) NULL,
	[STFEEL56] [varchar](50) NULL,
	[STFEEL57] [varchar](50) NULL,
	[STFEEL58] [varchar](50) NULL,
	[STFEEL59] [varchar](50) NULL,
	[STFEEL60] [varchar](50) NULL,
	[STFEEL61] [varchar](50) NULL,
	[STFEEL62] [varchar](50) NULL,
	[STFEEL63] [varchar](50) NULL,
	[STFEEL64] [varchar](50) NULL,
	[STFEEL65] [varchar](50) NULL,
	[STFEEL66] [varchar](50) NULL,
	[STFEEL67] [varchar](50) NULL,
	[STFEEL68] [varchar](50) NULL,
	[STFEEL69] [varchar](50) NULL,
	[STFEEL70] [varchar](50) NULL,
	[STFEEL71] [varchar](50) NULL,
	[STFEEL72] [varchar](50) NULL,
	[STFEEL73] [varchar](50) NULL,
	[STFEEL74] [varchar](50) NULL,
	[STFEEL75] [varchar](50) NULL,
	[STFEEL76] [varchar](50) NULL,
	[STFEEL77] [varchar](50) NULL,
	[STFEEL78] [varchar](50) NULL,
	[STFEEL79] [varchar](50) NULL,
	[STFEEL80] [varchar](50) NULL,
	[STFEEL81] [varchar](50) NULL,
	[STFEEL82] [varchar](50) NULL,
	[STFEEL83] [varchar](50) NULL,
	[STFEEL84] [varchar](50) NULL,
	[STFEEL85] [varchar](50) NULL,
	[STFEEL86] [varchar](50) NULL,
	[STFEEL87] [varchar](50) NULL,
	[STFEEL88] [varchar](50) NULL,
	[STFEEL89] [varchar](50) NULL,
	[STFEEL90] [varchar](50) NULL,
	[STFEEL91] [varchar](50) NULL,
	[STFEEL92] [varchar](50) NULL,
	[ENG_TEST] [varchar](50) NULL,
	[ENG_ITEM1] [varchar](50) NULL,
	[ENG_ITEM2] [varchar](50) NULL,
	[ENG_ITEM3] [varchar](50) NULL,
	[ENG_ITEM4] [varchar](50) NULL,
	[ENG_ITEM5] [varchar](50) NULL,
	[ENG_ITEM6] [varchar](50) NULL,
	[ENG_ITEM7] [varchar](50) NULL,
	[ENG_ITEM8] [varchar](50) NULL,
	[ENG_ITEM9] [varchar](50) NULL,
	[ENG_ITEM10] [varchar](50) NULL,
	[ENG_ITEM11] [varchar](50) NULL,
	[ENG_ITEM12] [varchar](50) NULL,
	[ENG_ITEM13] [varchar](50) NULL,
	[ENG_ITEM14] [varchar](50) NULL,
	[ENG_ITEM15] [varchar](50) NULL,
	[ENG_ITEM16] [varchar](50) NULL,
	[ENG_ITEM17] [varchar](50) NULL,
	[ENG_ITEM18] [varchar](50) NULL,
	[ENG_ITEM19] [varchar](50) NULL,
	[ENG_ITEM20] [varchar](50) NULL,
	[ENG_ITEM21] [varchar](50) NULL,
	[ENG_ITEM22] [varchar](50) NULL,
	[ENG_ITEM23] [varchar](50) NULL,
	[ENG_ITEM24] [varchar](50) NULL,
	[ENG_ITEM25] [varchar](50) NULL,
	[ENG_ITEM26] [varchar](50) NULL,
	[ENG_ITEM27] [varchar](50) NULL,
	[ENG_ITEM28] [varchar](50) NULL,
	[ENG_ITEM29] [varchar](50) NULL,
	[ENG_ITEM30] [varchar](50) NULL,
	[ENG_ITEM31] [varchar](50) NULL,
	[ENG_ITEM32] [varchar](50) NULL,
	[ENG_ITEM33] [varchar](50) NULL,
	[ENG_ITEM34] [varchar](50) NULL,
	[ENG_ITEM35] [varchar](50) NULL,
	[ENG_ITEM36] [varchar](50) NULL,
	[ENG_ITEM37] [varchar](50) NULL,
	[ENG_ITEM38] [varchar](50) NULL,
	[ENG_ITEM39] [varchar](50) NULL,
	[ENG_ITEM40] [varchar](50) NULL,
	[ENG_RAWSCORE] [varchar](50) NULL,
	[MATH_TEST] [varchar](50) NULL,
	[MATH_ITEM1] [varchar](50) NULL,
	[MATH_ITEM2] [varchar](50) NULL,
	[MATH_ITEM3] [varchar](50) NULL,
	[MATH_ITEM4] [varchar](50) NULL,
	[MATH_ITEM5] [varchar](50) NULL,
	[MATH_ITEM6] [varchar](50) NULL,
	[MATH_ITEM7] [varchar](50) NULL,
	[MATH_ITEM8] [varchar](50) NULL,
	[MATH_ITEM9] [varchar](50) NULL,
	[MATH_ITEM10] [varchar](50) NULL,
	[MATH_ITEM11] [varchar](50) NULL,
	[MATH_ITEM12] [varchar](50) NULL,
	[MATH_ITEM13] [varchar](50) NULL,
	[MATH_ITEM14] [varchar](50) NULL,
	[MATH_ITEM15] [varchar](50) NULL,
	[MATH_ITEM16] [varchar](50) NULL,
	[MATH_ITEM17] [varchar](50) NULL,
	[MATH_ITEM18] [varchar](50) NULL,
	[MATH_ITEM19] [varchar](50) NULL,
	[MATH_ITEM20] [varchar](50) NULL,
	[MATH_ITEM21] [varchar](50) NULL,
	[MATH_ITEM22] [varchar](50) NULL,
	[MATH_ITEM23] [varchar](50) NULL,
	[MATH_ITEM24] [varchar](50) NULL,
	[MATH_ITEM25] [varchar](50) NULL,
	[MATH_ITEM26] [varchar](50) NULL,
	[MATH_ITEM27] [varchar](50) NULL,
	[MATH_ITEM28] [varchar](50) NULL,
	[MATH_ITEM29] [varchar](50) NULL,
	[MATH_ITEM30] [varchar](50) NULL,
	[MATH_ITEM31] [varchar](50) NULL,
	[MATH_ITEM32] [varchar](50) NULL,
	[MATH_ITEM33] [varchar](50) NULL,
	[MATH_ITEM34] [varchar](50) NULL,
	[MATH_ITEM35] [varchar](50) NULL,
	[MATH_ITEM36] [varchar](50) NULL,
	[MATH_ITEM37] [varchar](50) NULL,
	[MATH_ITEM38] [varchar](50) NULL,
	[MATH_ITEM39] [varchar](50) NULL,
	[MATH_ITEM40] [varchar](50) NULL,
	[MATH_RAWSCORE] [varchar](50) NULL,
	[TS_TEST] [varchar](50) NULL,
	[TS_ITEM1] [varchar](50) NULL,
	[TS_ITEM2] [varchar](50) NULL,
	[TS_ITEM3A] [varchar](50) NULL,
	[TS_ITEM3B] [varchar](50) NULL,
	[TS_ITEM3C] [varchar](50) NULL,
	[TS_ITEM3D] [varchar](50) NULL,
	[TS_ITEM3E] [varchar](50) NULL,
	[TS_ITEM3F] [varchar](50) NULL,
	[TS_ITEM3] [varchar](50) NULL,
	[TS_ITEM4] [varchar](50) NULL,
	[TS_ITEM5] [varchar](50) NULL,
	[TS_ITEM6] [varchar](50) NULL,
	[TS_ITEM7] [varchar](50) NULL,
	[TS_ITEM8A] [varchar](50) NULL,
	[TS_ITEM8B] [varchar](50) NULL,
	[TS_ITEM8C] [varchar](50) NULL,
	[TS_ITEM8] [varchar](50) NULL,
	[TS_ITEM9] [varchar](50) NULL,
	[TS_ITEM10] [varchar](50) NULL,
	[TS_ITEM11] [varchar](50) NULL,
	[TS_ITEM12] [varchar](50) NULL,
	[TS_ITEM11_12] [varchar](50) NULL,
	[TS_ITEM13] [varchar](50) NULL,
	[TS_ITEM14] [varchar](50) NULL,
	[TS_ITEM15] [varchar](50) NULL,
	[TS_ITEM16] [varchar](50) NULL,
	[TS_ITEM17] [varchar](50) NULL,
	[TS_ITEM18] [varchar](50) NULL,
	[TS_ITEM19] [varchar](50) NULL,
	[TS_ITEM20] [varchar](50) NULL,
	[TS_ITEM21] [varchar](50) NULL,
	[TS_ITEM22] [varchar](50) NULL,
	[TS_ITEM23] [varchar](50) NULL,
	[HTSTFCMP] [varchar](50) NULL,
	[HTNTCMP] [varchar](50) NULL,
	[HTDINT] [varchar](50) NULL,
	[HTDEVPLN] [varchar](50) NULL,
	[HTPTA] [varchar](50) NULL,
	[HTPTAMT] [varchar](50) NULL,
	[HTEDOVS] [varchar](50) NULL,
	[HTSTDDRP] [varchar](50) NULL,
	[HTCHDLBR] [varchar](50) NULL,
	[HTFLSINF] [varchar](50) NULL,
	[HTTCHRET] [varchar](50) NULL,
	[HTRCHATT] [varchar](50) NULL,
	[HTENVEVT] [varchar](50) NULL,
	[HTHIRPRN] [varchar](50) NULL,
	[HTHIRTCH] [varchar](50) NULL,
	[HTHIRBOET] [varchar](50) NULL,
	[HTHIRDOET] [varchar](50) NULL,
	[HTHIRMOET] [varchar](50) NULL,
	[HTHIRMOTH] [varchar](50) NULL,
	[HTFIRPRN] [varchar](50) NULL,
	[HTFIRTCH] [varchar](50) NULL,
	[HTFIRBOET] [varchar](50) NULL,
	[HTFIRDOET] [varchar](50) NULL,
	[HTFIRMOET] [varchar](50) NULL,
	[HTFIRMOTH] [varchar](50) NULL,
	[HTESTPRN] [varchar](50) NULL,
	[HTESTTCH] [varchar](50) NULL,
	[HTESTBOET] [varchar](50) NULL,
	[HTESTDOET] [varchar](50) NULL,
	[HTESTMOET] [varchar](50) NULL,
	[HTESTMOTH] [varchar](50) NULL,
	[HTDETPRN] [varchar](50) NULL,
	[HTDETTCH] [varchar](50) NULL,
	[HTDETBOET] [varchar](50) NULL,
	[HTDETDOET] [varchar](50) NULL,
	[HTDETMOET] [varchar](50) NULL,
	[HTDETMOTH] [varchar](50) NULL,
	[HTBUGPRN] [varchar](50) NULL,
	[HTBUGTCH] [varchar](50) NULL,
	[HTBUGBOET] [varchar](50) NULL,
	[HTBUGDOET] [varchar](50) NULL,
	[HTBUGMOET] [varchar](50) NULL,
	[HTBUGMOTH] [varchar](50) NULL,
	[HTBALPRN] [varchar](50) NULL,
	[HTBALTCH] [varchar](50) NULL,
	[HTBALBOET] [varchar](50) NULL,
	[HTBALDOET] [varchar](50) NULL,
	[HTBALMOET] [varchar](50) NULL,
	[HTBALMOTH] [varchar](50) NULL,
	[HTSASPRN] [varchar](50) NULL,
	[HTSASTCH] [varchar](50) NULL,
	[HTSASBOET] [varchar](50) NULL,
	[HTSASDOET] [varchar](50) NULL,
	[HTSASMOET] [varchar](50) NULL,
	[HTTXTPRN] [varchar](50) NULL,
	[HTTXTTCH] [varchar](50) NULL,
	[HTTXTBOET] [varchar](50) NULL,
	[HTTXTDOET] [varchar](50) NULL,
	[HTTXTMOET] [varchar](50) NULL,
	[HTCNTPRN] [varchar](50) NULL,
	[HTCNTTCH] [varchar](50) NULL,
	[HTCNTBOET] [varchar](50) NULL,
	[HTCNTDOET] [varchar](50) NULL,
	[HTCNTMOET] [varchar](50) NULL,
	[HTOFRPRN] [varchar](50) NULL,
	[HTOFRTCH] [varchar](50) NULL,
	[HTOFRBOET] [varchar](50) NULL,
	[HTOFRDOET] [varchar](50) NULL,
	[HTOFRMOET] [varchar](50) NULL,
	[HTSTPFGL] [varchar](50) NULL,
	[HTTCPFGL] [varchar](50) NULL,
	[HTTCWKGL] [varchar](50) NULL,
	[HTDISCGL] [varchar](50) NULL,
	[HTDYSTRN] [varchar](50) NULL,
	[HTPMTCRS] [varchar](50) NULL,
	[HTPRTCPT] [varchar](50) NULL,
	[HTSTDVSK] [varchar](50) NULL,
	[HTPRBDIS] [varchar](50) NULL,
	[HTATTBEH] [varchar](50) NULL,
	[HTSLVPRB] [varchar](50) NULL,
	[HTPRTDEC] [varchar](50) NULL,
	[HTREVMNG] [varchar](50) NULL,
	[HTRSNABS] [varchar](50) NULL,
	[HTSHRPER] [varchar](50) NULL,
	[HTSTDENR] [varchar](50) NULL,
	[HTTOKEXM] [varchar](50) NULL,
	[HTLSPSEXM] [varchar](50) NULL,
	[HTPRCUNI] [varchar](50) NULL,
	[HTPRCVOC] [varchar](50) NULL,
	[HTCNTLRN] [varchar](50) NULL,
	[SAMEHEAD] [varchar](50) NULL,
	[DATECMPL] [varchar](50) NULL,
	[ENG_TCHID] [varchar](50) NULL,
	[ENG_TCHSUBJ] [varchar](50) NULL,
	[ENG_TCHDTJN] [varchar](50) NULL,
	[ENG_TCHDYPRS] [varchar](50) NULL,
	[ENG_TCSTLEMP] [varchar](50) NULL,
	[ENG_TCWHYLFT] [varchar](50) NULL,
	[ENG_TCDAYPRS] [varchar](50) NULL,
	[ENG_TCHABSC] [varchar](50) NULL,
	[ENG_TCHNTCMP] [varchar](50) NULL,
	[ENG_TCHDINT] [varchar](50) NULL,
	[ENG_TCAGE] [varchar](50) NULL,
	[ENG_TCGNDR] [varchar](50) NULL,
	[ENG_TCETHNC] [varchar](50) NULL,
	[ENG_TCRELGN] [varchar](50) NULL,
	[ENG_TCLNGHME] [varchar](50) NULL,
	[ENG_TCPRVTCH] [varchar](50) NULL,
	[ENG_TCMBLE] [varchar](50) NULL,
	[ENG_TCRADIO] [varchar](50) NULL,
	[ENG_TCTELE] [varchar](50) NULL,
	[ENG_TCBIKE] [varchar](50) NULL,
	[ENG_TCSCTR] [varchar](50) NULL,
	[ENG_TCTBLE] [varchar](50) NULL,
	[ENG_TCCHAIR] [varchar](50) NULL,
	[ENG_TCLAMP] [varchar](50) NULL,
	[ENG_TCELEC] [varchar](50) NULL,
	[ENG_TCAIRCND] [varchar](50) NULL,
	[ENG_TCCAR] [varchar](50) NULL,
	[ENG_TCCOMP] [varchar](50) NULL,
	[ENG_TCINTRT] [varchar](50) NULL,
	[ENG_TCFRDG] [varchar](50) NULL,
	[ENG_TCMICRO] [varchar](50) NULL,
	[ENG_TCDVD] [varchar](50) NULL,
	[ENG_TCTVBOX] [varchar](50) NULL,
	[ENG_TCLVLEDC] [varchar](50) NULL,
	[ENG_TCTCHQLF] [varchar](50) NULL,
	[ENG_TCSPCMAT] [varchar](50) NULL,
	[ENG_TCSPCENG] [varchar](50) NULL,
	[ENG_TCSPCVNM] [varchar](50) NULL,
	[ENG_TCSPCLNG] [varchar](50) NULL,
	[ENG_TCSPCPSC] [varchar](50) NULL,
	[ENG_TCSPCCHE] [varchar](50) NULL,
	[ENG_TCSPCBIO] [varchar](50) NULL,
	[ENG_TCSPCHIS] [varchar](50) NULL,
	[ENG_TCSPCGEO] [varchar](50) NULL,
	[ENG_TCSPCPHY] [varchar](50) NULL,
	[ENG_TCSPCANT] [varchar](50) NULL,
	[ENG_TCDYSTRN] [varchar](50) NULL,
	[ENG_TCTTRNHLP] [varchar](50) NULL,
	[ENG_TCAWDTTL] [varchar](50) NULL,
	[ENG_TCYRTCH] [varchar](50) NULL,
	[ENG_TCYRTCSCH] [varchar](50) NULL,
	[ENG_TCSTDENG] [varchar](50) NULL,
	[ENG_TCTCHENG] [varchar](50) NULL,
	[ENG_TCEMPBAS] [varchar](50) NULL,
	[ENG_TCFGRDE10] [varchar](50) NULL,
	[ENG_TCFGRDE11] [varchar](50) NULL,
	[ENG_TCFGRDE12] [varchar](50) NULL,
	[ENG_TCMATHS] [varchar](50) NULL,
	[ENG_TCENGL] [varchar](50) NULL,
	[ENG_TCVNM] [varchar](50) NULL,
	[ENG_TCANTLNG] [varchar](50) NULL,
	[ENG_TCPHYSC] [varchar](50) NULL,
	[ENG_TCCHEM] [varchar](50) NULL,
	[ENG_TCBIOLG] [varchar](50) NULL,
	[ENG_TCHISTRY] [varchar](50) NULL,
	[ENG_TCGEOG] [varchar](50) NULL,
	[ENG_TCPHYS] [varchar](50) NULL,
	[ENG_TCOTHR] [varchar](50) NULL,
	[ENG_TCPRDWK] [varchar](50) NULL,
	[ENG_TCEXTCLS] [varchar](50) NULL,
	[ENG_TCTCHG10] [varchar](50) NULL,
	[ENG_TCEXTWRK] [varchar](50) NULL,
	[ENG_TCOBSHT] [varchar](50) NULL,
	[ENG_TCOBSVP] [varchar](50) NULL,
	[ENG_TCOBSHSD] [varchar](50) NULL,
	[ENG_TCOBSOTH] [varchar](50) NULL,
	[ENG_TCOBSDOET] [varchar](50) NULL,
	[ENG_TCPRATD] [varchar](50) NULL,
	[ENG_TCLATENS] [varchar](50) NULL,
	[ENG_TCDISCPL] [varchar](50) NULL,
	[ENG_TCNOMAT] [varchar](50) NULL,
	[ENG_TCLACKRS] [varchar](50) NULL,
	[ENG_TCINTRRP] [varchar](50) NULL,
	[ENG_TCRSNABS] [varchar](50) NULL,
	[ENG_TCASGNSC] [varchar](50) NULL,
	[ENG_TCPRTCNT] [varchar](50) NULL,
	[ENG_TCTRVMIN] [varchar](50) NULL,
	[ENG_TCPRDTCH] [varchar](50) NULL,
	[ENG_TCPRDPLN] [varchar](50) NULL,
	[ENG_TCPRDCRT] [varchar](50) NULL,
	[ENG_TCPRDADM] [varchar](50) NULL,
	[ENG_TCHREXTR] [varchar](50) NULL,
	[ENG_TCHRHELP] [varchar](50) NULL,
	[ENG_TCHRTUTR] [varchar](50) NULL,
	[ENG_TCHRIDEA] [varchar](50) NULL,
	[ENG_TCHRCOMM] [varchar](50) NULL,
	[ENG_TCIMPCHR] [varchar](50) NULL,
	[ENG_TCCMSCTC] [varchar](50) NULL,
	[ENG_TCCMSCFC] [varchar](50) NULL,
	[ENG_TCCMSCPR] [varchar](50) NULL,
	[ENG_TCRSNTCH] [varchar](50) NULL,
	[ENG_TCFRTCHC] [varchar](50) NULL,
	[ENG_TCMOVTCH] [varchar](50) NULL,
	[ENG_TCGLSEC] [varchar](50) NULL,
	[ENG_TCCHSEC] [varchar](50) NULL,
	[ENG_TCATD41A] [varchar](50) NULL,
	[ENG_TCATD41B] [varchar](50) NULL,
	[ENG_TCATD41C] [varchar](50) NULL,
	[ENG_TCATD41D] [varchar](50) NULL,
	[ENG_TCATD41E] [varchar](50) NULL,
	[ENG_TCATD41F] [varchar](50) NULL,
	[ENG_TCATD41G] [varchar](50) NULL,
	[ENG_TCATD41H] [varchar](50) NULL,
	[ENG_TCATD42A] [varchar](50) NULL,
	[ENG_TCATD42B] [varchar](50) NULL,
	[ENG_TCATD42C] [varchar](50) NULL,
	[ENG_TCATD42D] [varchar](50) NULL,
	[ENG_TCATD42E] [varchar](50) NULL,
	[ENG_TCATD42F] [varchar](50) NULL,
	[ENG_TCATD42G] [varchar](50) NULL,
	[ENG_TCATD43A] [varchar](50) NULL,
	[ENG_TCATD43B] [varchar](50) NULL,
	[ENG_TCATD43C] [varchar](50) NULL,
	[ENG_TCATD43D] [varchar](50) NULL,
	[ENG_TCATD43E] [varchar](50) NULL,
	[ENG_TCATD43F] [varchar](50) NULL,
	[ENG_TCATD43G] [varchar](50) NULL,
	[ENG_TCATD43H] [varchar](50) NULL,
	[ENG_TCATD43I] [varchar](50) NULL,
	[ENG_TCATD43J] [varchar](50) NULL,
	[ENG_TCATD43K] [varchar](50) NULL,
	[ENG_TCATD43L] [varchar](50) NULL,
	[ENG_TCATD43M] [varchar](50) NULL,
	[ENG_TCATD44A] [varchar](50) NULL,
	[ENG_TCATD44B] [varchar](50) NULL,
	[ENG_TCATD44C] [varchar](50) NULL,
	[ENG_TCATD44D] [varchar](50) NULL,
	[ENG_TCATD44E] [varchar](50) NULL,
	[ENG_TCATD44F] [varchar](50) NULL,
	[ENG_TCATD44G] [varchar](50) NULL,
	[ENG_TCATD44H] [varchar](50) NULL,
	[ENG_TCATD44I] [varchar](50) NULL,
	[ENG_TCATD44J] [varchar](50) NULL,
	[ENG_TCATD44K] [varchar](50) NULL,
	[ENG_TCATD44L] [varchar](50) NULL,
	[ENG_TCATD44M] [varchar](50) NULL,
	[ENG_TCATD44N] [varchar](50) NULL,
	[ENG_TCATD44O] [varchar](50) NULL,
	[ENG_TCATD44P] [varchar](50) NULL,
	[ENG_TCATD44Q] [varchar](50) NULL,
	[ENG_TCATD44R] [varchar](50) NULL,
	[ENG_TCATD44S] [varchar](50) NULL,
	[ENG_TCATD44T] [varchar](50) NULL,
	[MATH_TCHID] [varchar](50) NULL,
	[MATH_TCHSUBJ] [varchar](50) NULL,
	[MATH_TCHDTJN] [varchar](50) NULL,
	[MATH_TCHDYPRS] [varchar](50) NULL,
	[MATH_TCSTLEMP] [varchar](50) NULL,
	[MATH_TCWHYLFT] [varchar](50) NULL,
	[MATH_TCDAYPRS] [varchar](50) NULL,
	[MATH_TCHABSC] [varchar](50) NULL,
	[MATH_TCHNTCMP] [varchar](50) NULL,
	[MATH_TCHDINT] [varchar](50) NULL,
	[MATH_TCAGE] [varchar](50) NULL,
	[MATH_TCGNDR] [varchar](50) NULL,
	[MATH_TCETHNC] [varchar](50) NULL,
	[MATH_TCRELGN] [varchar](50) NULL,
	[MATH_TCLNGHME] [varchar](50) NULL,
	[MATH_TCPRVTCH] [varchar](50) NULL,
	[MATH_TCMBLE] [varchar](50) NULL,
	[MATH_TCRADIO] [varchar](50) NULL,
	[MATH_TCTELE] [varchar](50) NULL,
	[MATH_TCBIKE] [varchar](50) NULL,
	[MATH_TCSCTR] [varchar](50) NULL,
	[MATH_TCTBLE] [varchar](50) NULL,
	[MATH_TCCHAIR] [varchar](50) NULL,
	[MATH_TCLAMP] [varchar](50) NULL,
	[MATH_TCELEC] [varchar](50) NULL,
	[MATH_TCAIRCND] [varchar](50) NULL,
	[MATH_TCCAR] [varchar](50) NULL,
	[MATH_TCCOMP] [varchar](50) NULL,
	[MATH_TCINTRT] [varchar](50) NULL,
	[MATH_TCFRDG] [varchar](50) NULL,
	[MATH_TCMICRO] [varchar](50) NULL,
	[MATH_TCDVD] [varchar](50) NULL,
	[MATH_TCTVBOX] [varchar](50) NULL,
	[MATH_TCLVLEDC] [varchar](50) NULL,
	[MATH_TCTCHQLF] [varchar](50) NULL,
	[MATH_TCSPCMAT] [varchar](50) NULL,
	[MATH_TCSPCENG] [varchar](50) NULL,
	[MATH_TCSPCVNM] [varchar](50) NULL,
	[MATH_TCSPCLNG] [varchar](50) NULL,
	[MATH_TCSPCPSC] [varchar](50) NULL,
	[MATH_TCSPCCHE] [varchar](50) NULL,
	[MATH_TCSPCBIO] [varchar](50) NULL,
	[MATH_TCSPCHIS] [varchar](50) NULL,
	[MATH_TCSPCGEO] [varchar](50) NULL,
	[MATH_TCSPCPHY] [varchar](50) NULL,
	[MATH_TCSPCANT] [varchar](50) NULL,
	[MATH_TCDYSTRN] [varchar](50) NULL,
	[MATH_TCTTRNHLP] [varchar](50) NULL,
	[MATH_TCAWDTTL] [varchar](50) NULL,
	[MATH_TCYRTCH] [varchar](50) NULL,
	[MATH_TCYRTCSCH] [varchar](50) NULL,
	[MATH_TCSTDENG] [varchar](50) NULL,
	[MATH_TCTCHENG] [varchar](50) NULL,
	[MATH_TCEMPBAS] [varchar](50) NULL,
	[MATH_TCFGRDE10] [varchar](50) NULL,
	[MATH_TCFGRDE11] [varchar](50) NULL,
	[MATH_TCFGRDE12] [varchar](50) NULL,
	[MATH_TCMATHS] [varchar](50) NULL,
	[MATH_TCENGL] [varchar](50) NULL,
	[MATH_TCVNM] [varchar](50) NULL,
	[MATH_TCANTLNG] [varchar](50) NULL,
	[MATH_TCPHYSC] [varchar](50) NULL,
	[MATH_TCCHEM] [varchar](50) NULL,
	[MATH_TCBIOLG] [varchar](50) NULL,
	[MATH_TCHISTRY] [varchar](50) NULL,
	[MATH_TCGEOG] [varchar](50) NULL,
	[MATH_TCPHYS] [varchar](50) NULL,
	[MATH_TCOTHR] [varchar](50) NULL,
	[MATH_TCPRDWK] [varchar](50) NULL,
	[MATH_TCEXTCLS] [varchar](50) NULL,
	[MATH_TCTCHG10] [varchar](50) NULL,
	[MATH_TCEXTWRK] [varchar](50) NULL,
	[MATH_TCOBSHT] [varchar](50) NULL,
	[MATH_TCOBSVP] [varchar](50) NULL,
	[MATH_TCOBSHSD] [varchar](50) NULL,
	[MATH_TCOBSOTH] [varchar](50) NULL,
	[MATH_TCOBSDOET] [varchar](50) NULL,
	[MATH_TCPRATD] [varchar](50) NULL,
	[MATH_TCLATENS] [varchar](50) NULL,
	[MATH_TCDISCPL] [varchar](50) NULL,
	[MATH_TCNOMAT] [varchar](50) NULL,
	[MATH_TCLACKRS] [varchar](50) NULL,
	[MATH_TCINTRRP] [varchar](50) NULL,
	[MATH_TCRSNABS] [varchar](50) NULL,
	[MATH_TCASGNSC] [varchar](50) NULL,
	[MATH_TCPRTCNT] [varchar](50) NULL,
	[MATH_TCTRVMIN] [varchar](50) NULL,
	[MATH_TCPRDTCH] [varchar](50) NULL,
	[MATH_TCPRDPLN] [varchar](50) NULL,
	[MATH_TCPRDCRT] [varchar](50) NULL,
	[MATH_TCPRDADM] [varchar](50) NULL,
	[MATH_TCHREXTR] [varchar](50) NULL,
	[MATH_TCHRHELP] [varchar](50) NULL,
	[MATH_TCHRTUTR] [varchar](50) NULL,
	[MATH_TCHRIDEA] [varchar](50) NULL,
	[MATH_TCHRCOMM] [varchar](50) NULL,
	[MATH_TCIMPCHR] [varchar](50) NULL,
	[MATH_TCCMSCTC] [varchar](50) NULL,
	[MATH_TCCMSCFC] [varchar](50) NULL,
	[MATH_TCCMSCPR] [varchar](50) NULL,
	[MATH_TCRSNTCH] [varchar](50) NULL,
	[MATH_TCFRTCHC] [varchar](50) NULL,
	[MATH_TCMOVTCH] [varchar](50) NULL,
	[MATH_TCGLSEC] [varchar](50) NULL,
	[MATH_TCCHSEC] [varchar](50) NULL,
	[MATH_TCATD41A] [varchar](50) NULL,
	[MATH_TCATD41B] [varchar](50) NULL,
	[MATH_TCATD41C] [varchar](50) NULL,
	[MATH_TCATD41D] [varchar](50) NULL,
	[MATH_TCATD41E] [varchar](50) NULL,
	[MATH_TCATD41F] [varchar](50) NULL,
	[MATH_TCATD41G] [varchar](50) NULL,
	[MATH_TCATD41H] [varchar](50) NULL,
	[MATH_TCATD42A] [varchar](50) NULL,
	[MATH_TCATD42B] [varchar](50) NULL,
	[MATH_TCATD42C] [varchar](50) NULL,
	[MATH_TCATD42D] [varchar](50) NULL,
	[MATH_TCATD42E] [varchar](50) NULL,
	[MATH_TCATD42F] [varchar](50) NULL,
	[MATH_TCATD42G] [varchar](50) NULL,
	[MATH_TCATD43A] [varchar](50) NULL,
	[MATH_TCATD43B] [varchar](50) NULL,
	[MATH_TCATD43C] [varchar](50) NULL,
	[MATH_TCATD43D] [varchar](50) NULL,
	[MATH_TCATD43E] [varchar](50) NULL,
	[MATH_TCATD43F] [varchar](50) NULL,
	[MATH_TCATD43G] [varchar](50) NULL,
	[MATH_TCATD43H] [varchar](50) NULL,
	[MATH_TCATD43I] [varchar](50) NULL,
	[MATH_TCATD43J] [varchar](50) NULL,
	[MATH_TCATD43K] [varchar](50) NULL,
	[MATH_TCATD43L] [varchar](50) NULL,
	[MATH_TCATD43M] [varchar](50) NULL,
	[MATH_TCATD44A] [varchar](50) NULL,
	[MATH_TCATD44B] [varchar](50) NULL,
	[MATH_TCATD44C] [varchar](50) NULL,
	[MATH_TCATD44D] [varchar](50) NULL,
	[MATH_TCATD44E] [varchar](50) NULL,
	[MATH_TCATD44F] [varchar](50) NULL,
	[MATH_TCATD44G] [varchar](50) NULL,
	[MATH_TCATD44H] [varchar](50) NULL,
	[MATH_TCATD44I] [varchar](50) NULL,
	[MATH_TCATD44J] [varchar](50) NULL,
	[MATH_TCATD44K] [varchar](50) NULL,
	[MATH_TCATD44L] [varchar](50) NULL,
	[MATH_TCATD44M] [varchar](50) NULL,
	[MATH_TCATD44N] [varchar](50) NULL,
	[MATH_TCATD44O] [varchar](50) NULL,
	[MATH_TCATD44P] [varchar](50) NULL,
	[MATH_TCATD44Q] [varchar](50) NULL,
	[MATH_TCATD44R] [varchar](50) NULL,
	[MATH_TCATD44S] [varchar](50) NULL,
	[MATH_TCATD44T] [varchar](50) NULL,
	[SCTMTID1] [varchar](50) NULL,
	[W1MSMTC1] [varchar](50) NULL,
	[W1MNWTC1] [varchar](50) NULL,
	[SCTENID1] [varchar](50) NULL,
	[W1ESMTC1] [varchar](50) NULL,
	[W1ENWTC1] [varchar](50) NULL,
	[REGTCH] [varchar](50) NULL,
	[ATDGIRL] [varchar](50) NULL,
	[ATDBOY] [varchar](50) NULL,
	[ATDTTL] [varchar](50) NULL,
	[SECSIZE] [varchar](50) NULL,
	[NEWCHLD] [varchar](50) NULL,
	[STDSTLENR] [varchar](50) NULL,
	[STDNOENR] [varchar](50) NULL,
	[STDNMABS] [varchar](50) NULL,
	[B1LVLSUPP] [varchar](50) NULL,
	[B1MTVSUC] [varchar](50) NULL,
	[B2ACABMT] [varchar](50) NULL,
	[B2PRCLMT] [varchar](50) NULL,
	[B3ACABEN] [varchar](50) NULL,
	[B3PRCLEN] [varchar](50) NULL
) ON [PRIMARY]
GO
