USE [Asghari_Task2DB]
GO
/****** Object:  Table [dbo].[vietnam_wave_1]    Script Date: 5/14/2022 11:04:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vietnam_wave_1](
	[UNIQUEID] [varchar](50) NULL,
	[SCHOOLID] [varchar](50) NULL,
	[CLASSID] [varchar](50) NULL,
	[STUDENTID] [varchar](50) NULL,
	[YLCHILDID] [varchar](50) NULL,
	[PROVINCE] [varchar](50) NULL,
	[DISTRICTCODE] [varchar](50) NULL,
	[LOCALITY] [varchar](50) NULL,
	[GENDER] [varchar](50) NULL,
	[AGE] [varchar](50) NULL,
	[ETHNICITY] [varchar](50) NULL,
	[ABSENT_DAYS] [varchar](50) NULL,
	[MOM_READ] [varchar](50) NULL,
	[MOM_EDUC] [varchar](50) NULL,
	[DAD_READ] [varchar](50) NULL,
	[DAD_EDUC] [varchar](50) NULL,
	[STDYLCHD] [varchar](50) NULL,
	[STDCMPLT] [varchar](50) NULL,
	[STDDINT] [varchar](50) NULL,
	[STDLIV] [varchar](50) NULL,
	[STDLNGHM] [varchar](50) NULL,
	[STDMEAL] [varchar](50) NULL,
	[STDHLTH1] [varchar](50) NULL,
	[STDHLTH2] [varchar](50) NULL,
	[STDHLTH3] [varchar](50) NULL,
	[STDHLTH4] [varchar](50) NULL,
	[STDHLTH5] [varchar](50) NULL,
	[STDHLTH6] [varchar](50) NULL,
	[STDHLTH0] [varchar](50) NULL,
	[STPPLHM] [varchar](50) NULL,
	[STSIBOLD] [varchar](50) NULL,
	[STSIBYNG] [varchar](50) NULL,
	[STNMBOOK] [varchar](50) NULL,
	[STPLSTDY] [varchar](50) NULL,
	[STHVMTEL] [varchar](50) NULL,
	[STHVRADO] [varchar](50) NULL,
	[STHVTELE] [varchar](50) NULL,
	[STHVBIKE] [varchar](50) NULL,
	[STHVMTBK] [varchar](50) NULL,
	[STHVDESK] [varchar](50) NULL,
	[STHVCHR] [varchar](50) NULL,
	[STHVLAMP] [varchar](50) NULL,
	[STHVEFAN] [varchar](50) NULL,
	[STHVAIRC] [varchar](50) NULL,
	[STHVCAR] [varchar](50) NULL,
	[STHVCOMP] [varchar](50) NULL,
	[STHVINTR] [varchar](50) NULL,
	[STHVFRDG] [varchar](50) NULL,
	[STHVMCRO] [varchar](50) NULL,
	[STHVDVD] [varchar](50) NULL,
	[STHVCBLE] [varchar](50) NULL,
	[STTMSCH] [varchar](50) NULL,
	[STEATLNC] [varchar](50) NULL,
	[STPAYLNC] [varchar](50) NULL,
	[STRPTCL1] [varchar](50) NULL,
	[STRPTCL6] [varchar](50) NULL,
	[STRPTCL10] [varchar](50) NULL,
	[STTLTSCH] [varchar](50) NULL,
	[STAGEENG] [varchar](50) NULL,
	[STITMOW1] [varchar](50) NULL,
	[STITMOW2] [varchar](50) NULL,
	[STITMOW3] [varchar](50) NULL,
	[STITMOW4] [varchar](50) NULL,
	[STITMOW5] [varchar](50) NULL,
	[STITMOW6] [varchar](50) NULL,
	[STITMOW7] [varchar](50) NULL,
	[STITMOW8] [varchar](50) NULL,
	[STBRWBK] [varchar](50) NULL,
	[STREADFN] [varchar](50) NULL,
	[STREADCH] [varchar](50) NULL,
	[STREADLR] [varchar](50) NULL,
	[STPLHLRD] [varchar](50) NULL,
	[STPLHL01] [varchar](50) NULL,
	[STPLHL02] [varchar](50) NULL,
	[STPLHL03] [varchar](50) NULL,
	[STPLHL04] [varchar](50) NULL,
	[STPLHL05] [varchar](50) NULL,
	[STPLHL06] [varchar](50) NULL,
	[STPLHL07] [varchar](50) NULL,
	[STSPEN01] [varchar](50) NULL,
	[STSPEN02] [varchar](50) NULL,
	[STSPEN03] [varchar](50) NULL,
	[STSPEN04] [varchar](50) NULL,
	[STSPEN05] [varchar](50) NULL,
	[STATEN01] [varchar](50) NULL,
	[STATEN02] [varchar](50) NULL,
	[STATEN03] [varchar](50) NULL,
	[STATEN04] [varchar](50) NULL,
	[STNONSCL] [varchar](50) NULL,
	[STGR1001] [varchar](50) NULL,
	[STGR1002] [varchar](50) NULL,
	[STGR1003] [varchar](50) NULL,
	[STGR1004] [varchar](50) NULL,
	[STGR1005] [varchar](50) NULL,
	[STGR1006] [varchar](50) NULL,
	[STGR1007] [varchar](50) NULL,
	[STGR1008] [varchar](50) NULL,
	[STGR1009] [varchar](50) NULL,
	[STGR1011] [varchar](50) NULL,
	[STHGHGRD] [varchar](50) NULL,
	[ENG_TEST] [varchar](50) NULL,
	[ENG_ITEM1] [varchar](50) NULL,
	[ENG_ITEM2] [varchar](50) NULL,
	[ENG_ITEM3] [varchar](50) NULL,
	[ENG_ITEM4] [varchar](50) NULL,
	[ENG_ITEM5] [varchar](50) NULL,
	[ENG_ITEM6] [varchar](50) NULL,
	[ENG_ITEM7] [varchar](50) NULL,
	[ENG_ITEM8] [varchar](50) NULL,
	[ENG_ITEM9] [varchar](50) NULL,
	[ENG_ITEM10] [varchar](50) NULL,
	[ENG_ITEM11] [varchar](50) NULL,
	[ENG_ITEM12] [varchar](50) NULL,
	[ENG_ITEM13] [varchar](50) NULL,
	[ENG_ITEM14] [varchar](50) NULL,
	[ENG_ITEM15] [varchar](50) NULL,
	[ENG_ITEM16] [varchar](50) NULL,
	[ENG_ITEM17] [varchar](50) NULL,
	[ENG_ITEM18] [varchar](50) NULL,
	[ENG_ITEM19] [varchar](50) NULL,
	[ENG_ITEM20] [varchar](50) NULL,
	[ENG_ITEM21] [varchar](50) NULL,
	[ENG_ITEM22] [varchar](50) NULL,
	[ENG_ITEM23] [varchar](50) NULL,
	[ENG_ITEM24] [varchar](50) NULL,
	[ENG_ITEM25] [varchar](50) NULL,
	[ENG_ITEM26] [varchar](50) NULL,
	[ENG_ITEM27] [varchar](50) NULL,
	[ENG_ITEM28] [varchar](50) NULL,
	[ENG_ITEM29] [varchar](50) NULL,
	[ENG_ITEM30] [varchar](50) NULL,
	[ENG_ITEM31] [varchar](50) NULL,
	[ENG_ITEM32] [varchar](50) NULL,
	[ENG_ITEM33] [varchar](50) NULL,
	[ENG_ITEM34] [varchar](50) NULL,
	[ENG_ITEM35] [varchar](50) NULL,
	[ENG_ITEM36] [varchar](50) NULL,
	[ENG_ITEM37] [varchar](50) NULL,
	[ENG_ITEM38] [varchar](50) NULL,
	[ENG_ITEM39] [varchar](50) NULL,
	[ENG_ITEM40] [varchar](50) NULL,
	[ENG_RAWSCORE] [varchar](50) NULL,
	[MATH_TEST] [varchar](50) NULL,
	[MATH_ITEM1] [varchar](50) NULL,
	[MATH_ITEM2] [varchar](50) NULL,
	[MATH_ITEM3] [varchar](50) NULL,
	[MATH_ITEM4] [varchar](50) NULL,
	[MATH_ITEM5] [varchar](50) NULL,
	[MATH_ITEM6] [varchar](50) NULL,
	[MATH_ITEM7] [varchar](50) NULL,
	[MATH_ITEM8] [varchar](50) NULL,
	[MATH_ITEM9] [varchar](50) NULL,
	[MATH_ITEM10] [varchar](50) NULL,
	[MATH_ITEM11] [varchar](50) NULL,
	[MATH_ITEM12] [varchar](50) NULL,
	[MATH_ITEM13] [varchar](50) NULL,
	[MATH_ITEM14] [varchar](50) NULL,
	[MATH_ITEM15] [varchar](50) NULL,
	[MATH_ITEM16] [varchar](50) NULL,
	[MATH_ITEM17] [varchar](50) NULL,
	[MATH_ITEM18] [varchar](50) NULL,
	[MATH_ITEM19] [varchar](50) NULL,
	[MATH_ITEM20] [varchar](50) NULL,
	[MATH_ITEM21] [varchar](50) NULL,
	[MATH_ITEM22] [varchar](50) NULL,
	[MATH_ITEM23] [varchar](50) NULL,
	[MATH_ITEM24] [varchar](50) NULL,
	[MATH_ITEM25] [varchar](50) NULL,
	[MATH_ITEM26] [varchar](50) NULL,
	[MATH_ITEM27] [varchar](50) NULL,
	[MATH_ITEM28] [varchar](50) NULL,
	[MATH_ITEM29] [varchar](50) NULL,
	[MATH_ITEM30] [varchar](50) NULL,
	[MATH_ITEM31] [varchar](50) NULL,
	[MATH_ITEM32] [varchar](50) NULL,
	[MATH_ITEM33] [varchar](50) NULL,
	[MATH_ITEM34] [varchar](50) NULL,
	[MATH_ITEM35] [varchar](50) NULL,
	[MATH_ITEM36] [varchar](50) NULL,
	[MATH_ITEM37] [varchar](50) NULL,
	[MATH_ITEM38] [varchar](50) NULL,
	[MATH_ITEM39] [varchar](50) NULL,
	[MATH_ITEM40] [varchar](50) NULL,
	[MATH_RAWSCORE] [varchar](50) NULL,
	[GRLENRL] [varchar](50) NULL,
	[BOYENRL] [varchar](50) NULL,
	[TTLENRL] [varchar](50) NULL,
	[TGRLENRL] [varchar](50) NULL,
	[TBOYENRL] [varchar](50) NULL,
	[TTTLENRL] [varchar](50) NULL,
	[ATDTMSY] [varchar](50) NULL,
	[ATDDFSY] [varchar](50) NULL,
	[TGMTHENG] [varchar](50) NULL,
	[SCALLCT] [varchar](50) NULL,
	[GRPABLTY] [varchar](50) NULL,
	[CLSORD1] [varchar](50) NULL,
	[CLSORD2] [varchar](50) NULL,
	[SCAVLB1] [varchar](50) NULL,
	[SCAVLB2] [varchar](50) NULL,
	[SCAVLB3] [varchar](50) NULL,
	[SCAVLB4] [varchar](50) NULL,
	[SCAVLB5] [varchar](50) NULL,
	[SCAVLB6] [varchar](50) NULL,
	[SCAVLB7] [varchar](50) NULL,
	[SCAVLB8] [varchar](50) NULL,
	[SCAVLB9] [varchar](50) NULL,
	[SCAVLB10] [varchar](50) NULL,
	[SCPRDDAY] [varchar](50) NULL,
	[SCLNONPR] [varchar](50) NULL,
	[SCMNMTIN] [varchar](50) NULL,
	[SCMNENIN] [varchar](50) NULL,
	[SCTXTMTH] [varchar](50) NULL,
	[SCTXTENG] [varchar](50) NULL,
	[NUMG10CLS] [varchar](50) NULL,
	[HTNTCMP] [varchar](50) NULL,
	[HTDINT] [varchar](50) NULL,
	[HTAGE] [varchar](50) NULL,
	[HTSEX] [varchar](50) NULL,
	[HTETHGRP] [varchar](50) NULL,
	[HTRELGN] [varchar](50) NULL,
	[HTMTHTNG] [varchar](50) NULL,
	[HTFRMPRV] [varchar](50) NULL,
	[HTCURRLE] [varchar](50) NULL,
	[HTYRSHT] [varchar](50) NULL,
	[HTLVLEDC] [varchar](50) NULL,
	[HTLVLTCH] [varchar](50) NULL,
	[HTEXCTCH] [varchar](50) NULL,
	[HTTYPSCH] [varchar](50) NULL,
	[HTLWSGRD] [varchar](50) NULL,
	[HTHGHGRD] [varchar](50) NULL,
	[HTNMSTEN] [varchar](50) NULL,
	[HTNMETST] [varchar](50) NULL,
	[HTYREST] [varchar](50) NULL,
	[HTP135CM] [varchar](50) NULL,
	[HTPRDIST] [varchar](50) NULL,
	[HTBOARD] [varchar](50) NULL,
	[HTSCHAVL] [varchar](50) NULL,
	[HTMRNSTR] [varchar](50) NULL,
	[HTMRNEND] [varchar](50) NULL,
	[HTAFTSTR] [varchar](50) NULL,
	[HTAFTEND] [varchar](50) NULL,
	[HTREGTCH] [varchar](50) NULL,
	[HTNONCMP] [varchar](50) NULL,
	[HTEXTCUR] [varchar](50) NULL,
	[HTNOACT] [varchar](50) NULL,
	[HTNOCMCH] [varchar](50) NULL,
	[HTNOCMCL] [varchar](50) NULL,
	[HTRQNMST] [varchar](50) NULL,
	[HTCENMST] [varchar](50) NULL,
	[HTPTNMST] [varchar](50) NULL,
	[HTRQMATH] [varchar](50) NULL,
	[HTRQENG] [varchar](50) NULL,
	[HTTCHAPP] [varchar](50) NULL,
	[HTREWTC1] [varchar](50) NULL,
	[HTREWTC2] [varchar](50) NULL,
	[HTREWTC4] [varchar](50) NULL,
	[HTREWTC5] [varchar](50) NULL,
	[HTREWTC6] [varchar](50) NULL,
	[HTREWTC7] [varchar](50) NULL,
	[HTREWTC8] [varchar](50) NULL,
	[HTDISTC1] [varchar](50) NULL,
	[HTDISTC2] [varchar](50) NULL,
	[HTDISTC3] [varchar](50) NULL,
	[HTDISTC4] [varchar](50) NULL,
	[HTDISTC6] [varchar](50) NULL,
	[HTDISTC7] [varchar](50) NULL,
	[HTDISTC8] [varchar](50) NULL,
	[HTDISTC0] [varchar](50) NULL,
	[HTGNADMN] [varchar](50) NULL,
	[HTACRARE] [varchar](50) NULL,
	[HTACRAETH] [varchar](50) NULL,
	[HTACRAGND] [varchar](50) NULL,
	[HTACRAPAY] [varchar](50) NULL,
	[HTACRAEXM] [varchar](50) NULL,
	[HTACRAOTH] [varchar](50) NULL,
	[HTACRAALL] [varchar](50) NULL,
	[HTAMPAID1] [varchar](50) NULL,
	[HTEXM011] [varchar](50) NULL,
	[HTEXM021] [varchar](50) NULL,
	[HTEXM031] [varchar](50) NULL,
	[HTEXM041] [varchar](50) NULL,
	[HTEXM051] [varchar](50) NULL,
	[HTEXM061] [varchar](50) NULL,
	[HTEXM001] [varchar](50) NULL,
	[HTAMPAID2] [varchar](50) NULL,
	[HTEXM012] [varchar](50) NULL,
	[HTEXM022] [varchar](50) NULL,
	[HTEXM032] [varchar](50) NULL,
	[HTEXM042] [varchar](50) NULL,
	[HTEXM052] [varchar](50) NULL,
	[HTEXM062] [varchar](50) NULL,
	[HTEXM002] [varchar](50) NULL,
	[HTAMPAID3] [varchar](50) NULL,
	[HTEXM013] [varchar](50) NULL,
	[HTEXM023] [varchar](50) NULL,
	[HTEXM033] [varchar](50) NULL,
	[HTEXM043] [varchar](50) NULL,
	[HTEXM053] [varchar](50) NULL,
	[HTEXM063] [varchar](50) NULL,
	[HTEXM003] [varchar](50) NULL,
	[HTAMPAID4] [varchar](50) NULL,
	[HTEXM014] [varchar](50) NULL,
	[HTEXM024] [varchar](50) NULL,
	[HTEXM034] [varchar](50) NULL,
	[HTEXM044] [varchar](50) NULL,
	[HTEXM054] [varchar](50) NULL,
	[HTEXM064] [varchar](50) NULL,
	[HTEXM004] [varchar](50) NULL,
	[HTAMPAID5] [varchar](50) NULL,
	[HTEXM015] [varchar](50) NULL,
	[HTEXM025] [varchar](50) NULL,
	[HTEXM035] [varchar](50) NULL,
	[HTEXM045] [varchar](50) NULL,
	[HTEXM055] [varchar](50) NULL,
	[HTEXM065] [varchar](50) NULL,
	[HTEXM005] [varchar](50) NULL,
	[HTAMPAID6] [varchar](50) NULL,
	[HTEXM016] [varchar](50) NULL,
	[HTEXM026] [varchar](50) NULL,
	[HTEXM036] [varchar](50) NULL,
	[HTEXM046] [varchar](50) NULL,
	[HTEXM056] [varchar](50) NULL,
	[HTEXM066] [varchar](50) NULL,
	[HTEXM006] [varchar](50) NULL,
	[HTAMPAID7] [varchar](50) NULL,
	[HTEXM017] [varchar](50) NULL,
	[HTEXM027] [varchar](50) NULL,
	[HTEXM037] [varchar](50) NULL,
	[HTEXM047] [varchar](50) NULL,
	[HTEXM057] [varchar](50) NULL,
	[HTEXM067] [varchar](50) NULL,
	[HTEXM007] [varchar](50) NULL,
	[HTAMPAID8] [varchar](50) NULL,
	[HTEXM018] [varchar](50) NULL,
	[HTEXM028] [varchar](50) NULL,
	[HTEXM038] [varchar](50) NULL,
	[HTEXM048] [varchar](50) NULL,
	[HTEXM058] [varchar](50) NULL,
	[HTEXM068] [varchar](50) NULL,
	[HTEXM008] [varchar](50) NULL,
	[HTAMPAID9] [varchar](50) NULL,
	[HTEXM019] [varchar](50) NULL,
	[HTEXM029] [varchar](50) NULL,
	[HTEXM039] [varchar](50) NULL,
	[HTEXM049] [varchar](50) NULL,
	[HTEXM059] [varchar](50) NULL,
	[HTEXM069] [varchar](50) NULL,
	[HTEXM009] [varchar](50) NULL,
	[HTAMPAID10] [varchar](50) NULL,
	[HTEXM0110] [varchar](50) NULL,
	[HTEXM0210] [varchar](50) NULL,
	[HTEXM0310] [varchar](50) NULL,
	[HTEXM0410] [varchar](50) NULL,
	[HTEXM0510] [varchar](50) NULL,
	[HTEXM0610] [varchar](50) NULL,
	[HTEXM0010] [varchar](50) NULL,
	[HTAMPAID11] [varchar](50) NULL,
	[HTEXM0111] [varchar](50) NULL,
	[HTEXM0211] [varchar](50) NULL,
	[HTEXM0311] [varchar](50) NULL,
	[HTEXM0411] [varchar](50) NULL,
	[HTEXM0511] [varchar](50) NULL,
	[HTEXM0611] [varchar](50) NULL,
	[HTEXM0011] [varchar](50) NULL,
	[HTAMPAID12] [varchar](50) NULL,
	[HTEXM0112] [varchar](50) NULL,
	[HTEXM0212] [varchar](50) NULL,
	[HTEXM0312] [varchar](50) NULL,
	[HTEXM0412] [varchar](50) NULL,
	[HTEXM0512] [varchar](50) NULL,
	[HTEXM0612] [varchar](50) NULL,
	[HTEXM0012] [varchar](50) NULL,
	[HTENGR10] [varchar](50) NULL,
	[HTENBY10] [varchar](50) NULL,
	[HTTLGR10] [varchar](50) NULL,
	[HTTLBY10] [varchar](50) NULL,
	[HTENGR11] [varchar](50) NULL,
	[HTENBY11] [varchar](50) NULL,
	[HTTLGR11] [varchar](50) NULL,
	[HTTLBY11] [varchar](50) NULL,
	[HTENGR12] [varchar](50) NULL,
	[HTENBY12] [varchar](50) NULL,
	[HTTLGR12] [varchar](50) NULL,
	[HTTLBY12] [varchar](50) NULL,
	[HTNMCL10] [varchar](50) NULL,
	[HTNMCL11] [varchar](50) NULL,
	[HTNMCL12] [varchar](50) NULL,
	[HTALLC10] [varchar](50) NULL,
	[HTPRTEXP] [varchar](50) NULL,
	[HTENTOT10] [varchar](50) NULL,
	[SCHFAC01A] [smallint] NULL,
	[SCHFAC01B] [smallint] NULL,
	[SCHFAC02] [smallint] NULL,
	[SCHFAC03] [smallint] NULL,
	[SCHFAC04] [smallint] NULL,
	[SCHFAC05] [smallint] NULL,
	[SCHFAC06] [smallint] NULL,
	[SCHFAC07] [smallint] NULL,
	[SCHFAC08] [smallint] NULL,
	[SCHFAC09] [smallint] NULL,
	[SCHFAC10] [smallint] NULL,
	[SCHFAC11] [smallint] NULL,
	[SCHFAC12] [smallint] NULL,
	[SCHFAC13] [smallint] NULL,
	[SCHFAC14] [smallint] NULL,
	[WEIGHT] [varchar](50) NULL
) ON [PRIMARY]
GO
